# ----------------------------------------------------------------------
# Windows
# ----------------------------------------------------------------------
Thumbs.db
Desktop.ini

# ----------------------------------------------------------------------
# Other
# ----------------------------------------------------------------------
/nbproject/private/
