# ------------------------------------------------------------------------------
# This is free and unencumbered software released into the public domain.
#
# Anyone is free to copy, modify, publish, use, compile, sell, or
# distribute this software, either in source code form or as a compiled
# binary, for any purpose, commercial or non-commercial, and by any
# means.
#
# In jurisdictions that recognize copyright laws, the author or authors
# of this software dedicate any and all copyright interest in the
# software to the public domain. We make this dedication for the benefit
# of the public at large and to the detriment of our heirs and
# successors. We intend this dedication to be an overt act of
# relinquishment in perpetuity of all present and future rights to this
# software under copyright law.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
# IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
# OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
# ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
# OTHER DEALINGS IN THE SOFTWARE.
#
# For more information, please refer to <http://unlicense.org>
# ------------------------------------------------------------------------------

# ------------------------------------------------------------------------------
# MariaDB configuration file
#
# AUTHOR: Markus Deutschl <deutschl.markus@gmail.com>
# COPYRIGHT: Copyright (c) 2014 Markus Deutschl
# LICENSE: http://unlicense.org/ PD
# ------------------------------------------------------------------------------

[client]
default-character-set             = utf8
# Only use socket connections.
socket                            = /var/run/mysqld/mysqld.sock

[mysqld_safe]
# Use different logfile than syslog.
log_error                         = /var/log/mysql/error.log
nice                              = 0
# Do not use syslog, use separate facility.
skip_syslog                       = true
socket                            = /var/run/mysqld/mysqld.sock

[mysql]
basedir                           = /usr
bind-address                      = 127.0.0.1
character-set-server              = utf8
# Fastest UTF-8 collation.
collation-server                  = utf8_general_ci
# Enable concurrent inserts for all MyISAM tables.
concurrent-insert                 = 2
connect-timeout                   = 5
datadir                           = /var/lib/mysql
default-character-set             = utf8
# Set default storage engine explicitly to InnoDB/XtraDB
default-storage-engine            = InnoDB
# Disable the feedback module.
enable-feedback                   = false
expire-logs-days                  = 10
# Most important InnoDB buffer, set to 75% of RAM size via script.
innodb-buffer-pool-size           = ##INNODB_BUFFER_POOL_SIZE##
# Default option seems reasonable enough.
innodb-concurrency-tickets        = 5000
# Support compression.
innodb-file-format                = Barracuda
# Place every table in an extra file.
innodb-file-per-table             = 1
# Use directio() to open data files and fsync() to flush data and logs. 
innodb-flush-method               = O_DIRECT
# Get the best fault tolerance in combination with sync-binlog=1.
innodb-flush-log-at-trx-commit    = 1
# Assume 100 IOps (7200rpm commodity hard drive).
innodb-io-capacity                = 100
# Just wait 1 second for row locks, more shouldn't occur.
innodb-lock-wait-timeout          = 1
# Default value seems reasonable.
innodb-log-buffer-size            = 8M
innodb-log-files-in-group         = 2
# Default value seems reasonable.
innodb-open-files                 = 300
# Default value.
innodb-page-size                  = 16k
# Use strict mode for InnoDB.
innodb-strict-mode                = 1
# Allow for more buffer when performing index reads, range scans and joins.
join-buffer-size                  = 4M
# MyISAM index block buffer size, not really needed.
key-buffer-size                   = 32M
lc-messages                       = en_US
lc-messages-dir                   = /usr/share/mysql
# Binary log location.
log-bin                           = /var/log/mysql/mariadb-bin
# Binary log index.
log-bin-index                     = /var/log/mysql/mariadb-bin.index
# Don't log warnings at all.
log-warnings                      = 0
# Set the maximum packet size to enable larger BLOB retrieval.
max-allowed-packet                = 4M
max-binlog-size                   = 100M
# Maximum number of connections, more than 100 with sysbench are not viable.
max-connections                   = 100
# Allow larger MEMORY tables.
max-heap-table-size               = 256M
# Disable auto-completion for faster startup.
no-auto-rehash
pid-file                          = /var/run/mysqld/mysqld.pid
# Disable query caching completely.
query-cache-size                  = 0
query-cache-type                  = 0
# Read buffers.
read-buffer-size                  = 2M
read-rnd-buffer-size              = 1M
skip-character-set-client-handshake = 1
# Skip authentication.
skip-grant-tables                 = 1
# Do not resolve IP addresses.
skip-name-resolve                 = 1
# Disable logging of slow queries.
slow-query-log                    = 0
# Reasonable buffer for sorting, maybe more needed.
sort-buffer-size                  = 8M
# Apply stricter SQL modes.
sql-mode                          = STRICT_ALL_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY
# Sync the binary log for more fault tolerance.
sync-binlog                       = 1
sysdate-is-now                    = 1
# Cache open tables and definitions for faster table access.
table-definition-cache            = 1024
table-open-cache                  = 1024
# Maintain reasonable reusable thread pool for connections.
thread-cache-size                 = 100
# Allow same size for temporary tables as MEMORY tables.
tmp-table-size                    = 256M
tmpdir                            = /tmp
user                              = mysql
wait-timeout                      = 28800

# If more settings are needed, place them here as .cnf files.
!includedir /etc/mysql/conf.d/
